body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 1rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .home {
    padding: 2rem;
  }
  .home h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
  
  .product-card {
    background: white;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
    transition: 1s;
  }
  .product-card h3 {
        padding: 5px;
        margin: 5px;
  }
  .product-card img:hover{
    transition: 1s;
    transform: scale(1.05);
  }
  .product-card p{
        padding: 3px;
        margin: 3px;
  }
  
  .add-to-cart {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 1s;
  }
  
  .add-to-cart:hover {
    background-color: #218838;
    transition: 1s;
    transform: scale(1.05);
    
  }
  
  .cart {
    padding: 2rem;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .remove-from-cart {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .remove-from-cart:hover {
    background-color: #c82333;
  }
  .empty{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }